@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Bottom Nav Bar */

.navbar {
    overflow: hidden;
    background-color: #00843D;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
    background: #f1f1f1;
    color: black;
}

.navbar a.active {
    /*background-color: #04AA6D; change this later*/
    color: white;
}

.navbar-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-right {
    float: right;
}

.circle {
    padding: 18px;
    background-color: #FFCD00;
    border-radius: 50%;
    overflow: hidden;
}

/*Sitewide CSS*/

.main {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}

.main_takepicture {
    padding: 0;
}

.backArrow {
    padding: 10px;
    color: #00843D;
}

/*Padding at bottom of page cause I'm lazy*/

.spacing {
    padding-bottom: 50px;
    
}

/*Text and Paragraphs*/

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #00843D;
}

h2 { 
    font-family: 'Montserrat', sans-serif;
    color: #00843D;
}

p {
    color: #00843D;
}

label {
    color: #00843D;
    font-size: 15pt;
    font-weight: 500;
}

/*Homepage Divs*/

.top_page {
    background-color: #FFCD00;
    top: 0;
    width: 100%;
    position: sticky;
    height: 120px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    z-index: 10;
}

.welcomeback {
    text-align: center;
}

.title {
    color: #00843D;
    margin: 0;
    padding-top: 40px;
    font-size: 28px;
    font-weight: 900;
    font-style: italic;
}

#favourite_cards {
    text-align: center;
    padding-top: 2%;
}

#favourite_cards img {
    display: inline-block;
}

.favourite_cards {
    text-align: center;
}

.favourite_cards img {
    display: inline-block;
    width: 170px;
    margin: 5px;
}

.placeholderCard {
    display: inline-block;
    margin-right: 10px;
    width: 160px;
    height: 200px;
    border: 2px solid black;
}

/*Collection Page*/

.main_collection {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}

.main_collection img {
    margin: 0 10px 0 0;
}

#legendary {
    color: #00843D;
    padding: 10px;
    text-align: center;
}

#epic {
    color: #00843D;
    padding: 10px;
    text-align: center;
}

#rare {
    color: #00843D;
    padding: 10px;
    text-align: center;
}

#common {
    color: #00843D;
    padding: 10px;
    text-align: center;
}

.tierContainer {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 200px;
}




/*Choose Background Div*/

.choose_background img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.choose_background h2 {
    text-align: center;
}


/*Choose Pose Page*/

.choose_pose {
    text-align: center;
}

.choose_pose img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


/*Take Picture Page*/

#buttonContainer {
    display: block;
    margin: 0;
    background-color: #00843D;
}

#roundButton {
    width: 25%;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#submit {
    background-color: #FFCD00;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow: hidden;
}


/*Preview Card Page*/


#cardContainer {
    width: 80%;
    z-index: 0;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 400px;
    border-style: solid;
    border-width: 4px;
    border: 4px solid #3399FF;
    overflow: hidden;
}



.imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#chooseTheme {
    position: relative;
}

#saveCard {
    position: relative;
}

#bottomShape {
    width: 100%;
    height: 60%;
}

#bottomShape img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

#bottomShape h1 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    margin-bottom: 2%;
    margin-left: 3%;
    font-size: 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.nextPage {
    overflow: hidden;
    background-color: #00843D;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.nextPage h1 {
    color: white;
}

.nextPage h2 {
    color: white;;
}

#backMenu {
    position: relative;
}

[contenteditable] {
    outline: 0px solid transparent;
}

#customiseContainer {
    text-align: center;
}

.dragme {
    display: inline-block;
    position: relative;
    height: auto;
    cursor: pointer;
    padding: 5px;
}

#communityCheck {
    margin-top: 50px;
    text-align: center;
}

#communityCheck input {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#communityCheck label {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Trading Card Success Page */

#success {
    font-size: 50pt;
    padding: 7%;
    margin-top: 150px;
    margin-bottom: 100px;
    position: relative;
    display: block;
    transform:rotate(-10deg)
}

/*Profile Page */

.team_info h2 {
    text-align: center;
}

.stats h2 {
    text-align: center;
}

.banner {
    background-image: linear-gradient(45deg,#0019FF, #3399FF, #0019FF, #3399FF); 
    width: 100%;
    height: 80px;

}

.banner h2 {
    padding-top: 25px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: block;
  }

  .modal-content h2 {
    text-align: center;
  }

  .text_alignment {
    width: 80%;
    margin: auto;
    display: block;
  }

  .caption {
    margin: auto;
    width: 49%;
    max-width: 700px;
    text-align: left;
    padding: 10px 0;
    font-size: 15pt;
    text-align: left;
    display: inline-block;
}

.caption2 {
    margin: auto;
    width: 49%;
    max-width: 700px;
    text-align: left;
    padding: 10px 0;
    font-size: 15pt;
    text-align: right;
    display: inline-block;
}

.noStyle {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  
  /* Modal Content (image) */
  .modal-image-content {
    width: 100%;
    margin: auto;
    display: block;
    max-width: 700px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    display: inline-block;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .viewAR {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #00843D;
    border: none;
    text-align: center;
    text-decoration: none;
  }
  .viewAR h2 {
    color: white;
  }
  
  /*Digital Backdrop*/

#backdrop {
      background-image: url("../images/Digital Backdrop Homepage.png");
      background-size: cover;
      background-repeat: no-repeat;
  }

#backdrop_pose {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Community Tab*/
.leaderboard {
    display: inline-block;
}

/*Slideshow*/
* {box-sizing: border-box;}
.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 20px;
}

.slideshow-container img {
    vertical-align: middle;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.circle_active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}